<% layout('layouts/boilerplate') %>
<%- include('../partials/navbar') %> 

<div class="container">
    <div class="card mx-auto p-4 mt-5 login">
        <div class="card-body">
        <h5 class="card-title text-center">Write a New Post</h5>
            <form action="/blogs/newBlog" method="POST">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Title</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="title">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Content</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="blogContent"></textarea>
                </div>
                <br>
                <div class="col-12 text-center">
                    <button type="submit" class="btn btn-primary btn-sm">Publish Post</button>
                </div>
            </form>
        </div>
    </div>
</div>