<% if(success && success.length) { %> 
    <div class="mt-2"></div>
    <div class="alert alert-info alert-dismissible fade show text-center" role="alert">
        <%= success %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="mt-2"></div>
<% } %>

<% if(error && error.length) { %> 
    <div class="mt-2"></div>
    <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
        <%= error %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="mt-2"></div>
<% } %>