<% layout('layouts/boilerplate') %>

<!-- Background image -->
<div class="bg-image" 
     style="background-image: url('images/le-tan-hHMLYxAPeoA-unsplash.jpg');
            height: 100vh; background-size: cover; background-position:center; opacity: 0.9;">
    
    <div class="container">
        <div class="vr-spacer"></div>
        <div class="row">
            <div class="col-10 col-sm-12 d-flex mx-auto">
                <h1 class="mx-auto" id="brand">Where To?</h1>
            </div>
        </div>
        <div class="vr-spacer"></div>
        <div class="row">
            <div class="col-12 col-sm-6 text-center mb-5"><a href="">
                <button class="btn btn-outline-secondary btn-lg rounded-pill">Start Blogging</button>
            </a></div>
            <div class="col-12 col-sm-6 text-center"><a href="">
                <button class="btn btn-outline-secondary btn-lg rounded-pill">Read Blogs</button>
            </a></div>
        </div>
    </div>
</div>
<!-- Background image -->
