@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

#brand {
    font-family: 'Playfair Display', serif;
    font-size: 15vh;
    color: white;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
}

.navbar-brand {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 1.5rem;
}

nav > div {
    background-color: #519fb5;
    height: 10vh;
    
}

.navbar-nav {
    background-color: #519fb5;
}


.vr-spacer {
    height: 20vh;
}

.btn-lg {
    color: white;
    border-color: white;
    width: 200px;
}

.btn-primary {
    background-color: #519fb5;
    border-color: #519fb5;
}
.btn-primary:hover {
    background-color: #2e5c69;
    border-color: #2e5c69;
}

.custom-btn {
    color: white;
    border-color: white;
}

.custom-btn:hover {
    background-color: #2e5c69;
    border-color: #2e5c69;
}

.login {
    width: 500px;
}

@media only screen and (max-width: 800px) {
    #brand {
        font-size: 7vh;
    }

    .vr-spacer {
        height: 16vh;
    }

}