@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');

#brand {
    font-family: 'Playfair Display', serif;
    font-size: 15vh;
    color: white;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
}

.navbar-brand {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 1.5rem;
}

nav > div {
    background-color: #519fb5;
    height: 10vh;
    z-index: 9999;
    
}

.navbar-nav {
    background-color: #519fb5;
}


.vr-spacer {
    height: 20vh;
}

.btn-lg {
    color: white;
    border-color: white;
    width: 200px;
}

.btn-primary {
    background-color: #519fb5;
    border-color: #519fb5;
}
.btn-primary:hover {
    background-color: #2e5c69;
    border-color: #2e5c69;
}

.custom-btn {
    color: white;
    border-color: white;
}

.custom-btn:hover {
    background-color: #2e5c69;
    border-color: #2e5c69;
}

.login {
    width: 500px;
}

footer {
    /* position: absolute; */
    /* bottom: 0px;
    bottom: 0;
    left: 0; */
    width: 100%;
    margin-top: 40px;
    padding-top: 15px;
    height: 50px;
    /* background-color: #2e5c69; */
    color: gray;
    text-align: center;
}

#imagePreview {
    background-color: #ebecf0;
}

.img-thumbnail-preview {
    background-size: cover;
    background-position: center;
    height: 20vh;
    width: 30vh;
    border-width: 2px;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.img-thumbnail-preview:hover {
    background-color: black;
}

.mapboxgl-ctrl-geocoder {
    min-width: 100%;
}

.img-item{
    overflow: hidden;
    height: 350px;
}

.img-item > img {
    height: 350px;
    object-fit: cover;
}

.carousel-item {
    height: 350px;
    overflow: hidden;
}

.carousel-item > img {
    height: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 800px) {
    #brand {
        font-size: 7vh;
    }

    .vr-spacer {
        height: 16vh;
    }
    .login {
        width: 350px;
    }
    .img-item{
        overflow: hidden;
        height: 250px;
    }
    
    .img-item > img {
        height: 250px;
        object-fit: cover;
    }
    .carousel-item {
        height: 250px;
    }
}

@media only screen and (min-width: 1400px){
    .carousel-item {
        height: 500px;
    }
}