<% layout('layouts/boilerplate') %>
<%- include('../partials/navbar') %> 
<%- include('../partials/flash') %>

<div class="container">
    <div class="card mx-auto p-4 mt-5 login">
        <div class="card-body">
          <h5 class="card-title">Login</h5>
          <form action="/login" method="post" class="needs-validation" novalidate>
            <div class="row mb-3 text-center">
              <label for="username" class="col-2 col-form-label"><span class="material-icons">badge</span></label>
              <div class="col-10">
                <input type="username" class="form-control" id="username" placeholder="Username" name="username" required>
                <div class="valid-feedback text-start">
                  Looks good!
                </div>
                <div class="invalid-feedback text-start">
                  Username Required
                </div>
              </div>
            </div>
            <div class="row mb-3 text-center">
              <label for="password" class="col-2 col-form-label"><span class="material-icons">lock</span></label>
              <div class="col-10">
                <input type="password" class="form-control" id="password" placeholder="Password" name="password" required>
                <div class="valid-feedback text-start">
                  Looks good!
                </div>
                <div class="invalid-feedback text-start">
                  Password Required
                </div>
              </div>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary" style="width: 100%;">Login</button>
            </div>
          </form>
          <div class="col-12 text-center">
            <a href="">Forgot account?</a>
            <br>
            <a href="/">Cancel</a>
          </div>
          <br>
          <div class="col-12 text-center">
            <a href="/register">
              <button class="btn btn-primary btn-sm">Create New Account</button>
            </a>
          </div>
        </div>
      </div>
</div>

<script src="/scripts/validateForm.js"></script>