<% layout('layouts/boilerplate') %>
<%- include('../partials/navbar') %> 

<div class="container">
    <div class="vr-spacer" style="height: 50px;"></div>
    <div class="card mx-auto px-4 login">
        <div class="card-body">
          <h5 class="card-title">Register</h5>
          <form action="/blogs" method="get">
            <div class="row mb-3 text-center">
              <label for="email" class="col-2 col-form-label"><span class="material-icons">email</span></label>
              <div class="col-10">
                <input type="email" class="form-control" id="email" placeholder="Enter Your Email Address">
              </div>
            </div>
            <div class="row mb-3 text-center">
              <label for="username" class="col-2 col-form-label"><span class="material-icons">badge</span></label>
              <div class="col-10">
                <input type="username" class="form-control" id="username" placeholder="Enter a Unique Username">
              </div>
            </div>
            <div class="row mb-3 text-center">
              <label for="firstName" class="col-2 col-form-label"><span class="material-icons">person</span></label>
              <div class="col-10">
                <input type="text" class="form-control" id="firstName" placeholder="Enter Your First Name">
              </div>
            </div>
            <div class="row mb-3 text-center">
              <label for="lastName" class="col-2 col-form-label"><span class="material-icons">person</span></label>
              <div class="col-10">
                <input type="text" class="form-control" id="lastName" placeholder="Enter Your Last Name">
              </div>
            </div>
            <div class="row mb-3 text-center">
              <label for="password" class="col-2 col-form-label"><span class="material-icons">lock</span></label>
              <div class="col-10">
                <input type="password" class="form-control" id="password" placeholder="Password">
              </div>
            </div>
            <div class="row mb-3 text-center">
              <label for="confirmPassword" class="col-2 col-form-label"><span class="material-icons">lock</span></label>
              <div class="col-10">
                <input type="password" class="form-control" id="confirmPassword" placeholder="Re-enter Password">
              </div>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary" style="width: 100%;">Register</button>
            </div>
          </form>
          <div class="col-12 text-center">
            <a href="/login">Already have an account?</a>
            <br>
            <a href="/">Cancel</a>
          </div>
        </div>
      </div>
</div>
