<% layout('layouts/boilerplate') %>
<%- include('../partials/navbar') %> 

<div class="container">
    <div class="vr-spacer" style="height: 50px;"></div>
    <div class="card mx-auto px-4 login">
        <div class="card-body">
          <h5 class="card-title">Register</h5>
          <form action="/register" method="POST" class="needs-validation" novalidate>
            <div class="row mb-3 text-center">
              <label for="email" class="col-2 form-label col-form-label"><span class="material-icons">email</span></label>
              <div class="col-10">
                <input type="email" class="form-control" id="email" placeholder="Enter Your Email Address" name="email" required>
                <div class="valid-feedback text-start">
                  Looks good!
                </div>
                <div class="invalid-feedback text-start">
                  Invalid Email Address
                </div>
              </div>
            </div>
            <div class="row mb-3 text-center">
              <label for="username" class="col-2 col-form-label"><span class="material-icons">badge</span></label>
              <div class="col-10">
                <input type="username" class="form-control" id="username" placeholder="Enter a Unique Username" name="username" required>
                <div class="valid-feedback text-start">
                  Looks good!
                </div>
                <div class="invalid-feedback text-start">
                  Unique Username Required
                </div>
              </div>
            </div>
            <div class="row mb-3 text-center">
              <label for="firstName" class="col-2 col-form-label"><span class="material-icons">person</span></label>
              <div class="col-10">
                <input type="text" class="form-control" id="firstName" placeholder="Enter Your First Name" name="firstName" required>
                <div class="valid-feedback text-start">
                  Looks good!
                </div>
                <div class="invalid-feedback text-start">
                  First Name Required
                </div>
              </div>
              <label for="lastName" class="col-2 col-form-label"><span class="material-icons"></span></label>
              <div class="col-10">
                <input type="text" class="form-control" id="lastName" placeholder="Enter Your Last Name" name="lastName" required>
                <div class="valid-feedback text-start">
                  Looks good!
                </div>
                <div class="invalid-feedback text-start">
                  Last Name Required
                </div>
              </div>
            </div>
            <div class="row mb-3 text-center">
              <label for="password" class="col-2 col-form-label"><span class="material-icons">lock</span></label>
              <div class="col-10">
                <input type="password" class="form-control" id="password" placeholder="Password" name="password" required>
                <div class="valid-feedback text-start">
                  Looks good!
                </div>
                <div class="invalid-feedback text-start">
                  Password Required
                </div>
              </div>
              <label for="confirmPassword" class="col-2 col-form-label"><span class="material-icons"></span></label>
              <div class="col-10">
                <input type="password" class="form-control" id="confirmPassword" placeholder="Re-enter Password" required>
                <div class="valid-feedback text-start">
                  Looks good!
                </div>
                <div class="invalid-feedback text-start">
                  Re-type Password
                </div>
              </div>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary" style="width: 100%;">Register</button>
            </div>
          </form>
          <div class="col-12 text-center">
            <a href="/login">Already have an account?</a>
            <br>
            <a href="/">Cancel</a>
          </div>
        </div>
      </div>
</div>

<script src="/scripts/validateForm.js"></script>